*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}



           /* Cabeçalho*/
  
body{
    background-image: linear-gradient(to bottom right,rgb(51, 51, 51), gray)
}

nav{
    overflow: hidden;
    margin: auto;
    padding: 10px;
 
}


    

.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    
      
}

li{
    
    color: white;
    margin-right: 20px;
    padding: 12px;
    font-size: 30px;
}
.botoes{  
    text-decoration: none;
    float: left;

}

li:hover{
    border: solid 2px orangered;
   padding: 10px;
    color: orangered;
    border-radius: 6px;
}

.logo{
    padding: 10px;
    float: left;
    
    color: white;
}

.banner{ 
    margin-top: 100px;
    margin-bottom:60px;
    border-bottom:solid 1px rgb(143, 141, 141);
    text-align: center;
    font-size: 5vw;
    font-family: Birthstone;
    color: #f3ffff;
    padding: 20px;
    padding-bottom: 100px;
}


       /* Galeria */

#galeria{ 
    
    margin-top: 0;
    margin: auto;
    margin-bottom: 60px;
    text-align: center;
    padding: 40px;
    color: white;
    padding-top: 0;
    padding-bottom: 10%;
    border-bottom:solid 1px rgb(143, 141, 141);
}
.tg{
      
    text-align: center;
    font-size: 4rem;
    padding: 20px;
    margin-bottom: 20px;
    
}

   
.img-galeria{
    object-fit: cover;
    margin-bottom: 20px;
    margin-right: 10px;
    width:250px;
    height: 250px;
    border-radius:50%; 
   
}
.img-galeria:hover{
    
    width:250px;
    height: 250px;
    border-radius: 0;

}

     /* Pinturas*/

#pinturas{
margin: auto;
padding: 20px;
margin-bottom: 20px;

color: white;
padding-top: 0;
overflow: hidden;

}

.seçao-pinturas{
    text-align: center;
    margin-top: 50px;
   border: solid 1px rgb(143, 141, 141);
   border-radius: 6px;
    margin: auto;
    margin-bottom: 20px;
    

    
}

.pinturas{
    
    text-align: center;
    font-size: 4rem;
    padding: 20px;
    margin-bottom: 20px;
}

.titulos-pinturas{
    
    margin-top: 20px;
    
    font-size: 2.8rem;
    padding: 20px;

}
.paragrafo-pinturas{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    

}


.img-pinturas{
    object-fit: cover;
    margin-bottom: 20px;
    margin-right: 10px;
    width:350px;
    height: 190px;
    
    
}
footer{ 
    padding: 10px;
    margin: auto;
    
    text-align: center;
    background-color: rgb(65, 65, 65);
}

.img-contato{
    width: 60px;
}

@media screen and (max-width: 1180px)and (min-width: 880px){
    .galeria{
        width: 70%;
        margin: auto;
    }


}


@media screen and (max-width: 780px) {
    .img-pinturas{
       object-fit: cover;
       width: 80%;
    }

}

@media screen and (max-width: 730px) {
    
   .menu , li , .logo { 
       float: none;
       margin:10px auto;
       margin-bottom: 0px;
       text-align: center;
      
       
   }
   li{
        border: solid 2px orangered;
       border-radius: 6px;
       padding: 10px;
   }

   .botoes{
        float: none;
       text-decoration: none;
   }

   .banner{
       font-size: 5.5vw;
       padding: 20px;
   }
   #pinturas{
       text-align: center;
       margin: auto;
       padding: 20px;
   }
   .paragrafo-pinturas{
       text-align: left;
       margin-bottom: 30px;
       font-size: 25px;
       padding-right: 5%;
       padding-left: 5%;

   }
   .img-pinturas{
       object-fit: cover;
       width: 90%;
   }
}